
.grid{
	border: 1px solid black;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: column;

}

.column{
	flex: 1;
	display: flex;
}

.square{
	border: 1px solid black;
	flex: 1;
}